<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:exported="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoidunn"
        android:label="Idunn"
        android:roundIcon="@drawable/logoidunn"
        android:supportsRtl="true"
        android:theme="@style/Theme.Idunn"
        tools:targetApi="34">
        <activity
            android:name=".Activity_historial_detallado"
            android:exported="false" />
        <activity
            android:name=".Usuario.Activity_ejercicios"
            android:exported="false" />
        <activity
            android:name=".Usuario.Activity_agregar_entrenamiento"
            android:exported="false" />
        <activity
            android:name=".Activity_rutina_empezada"
            android:exported="false" />
        <activity
            android:name=".Usuario.Activity_modificar_medidas"
            android:exported="false" />
        <activity
            android:name=".Usuario.Activity_detailed_train"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Usuario.Activity_registro"
            android:exported="false" />
        <activity
            android:name=".Activity_navegacion"
            android:exported="false" />
        <activity
            android:name=".Usuario.Activity_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>